# For AWS credentials
AWS_ACCESS_KEY_ID=dummy
AWS_SECRET_ACCESS_KEY=dummy
AWS_REGION=us-east-1

# For local S3 and DynamoDB
AWS_ENDPOINT_URL_S3=http://s3.localhost.localstack.cloud:4566
AWS_ENDPOINT_URL_DYNAMODB=http://localhost.localstack.cloud:4566

# DynamoDB Table for rtcstats
RTCSTATS_METADATA_TABLE=rtcstats-meta-table-local

# S3 Bucket for rtcstats
RTCSTATS_S3_BUCKET=jitsi-micros-rtcstats-server

# rtcstats-server: server config
#RTCSTATS_LOG_LEVEL
#RTCSTATS_ENVIRONMENT
RTCSTATS_KEYPATH=./certs/key.pem
RTCSTATS_CERTPATH=./certs/cert.pem
#RTCSTATS_TEMPPATH=temp
RTCSTATS_HTTPS=true
#RTCSTATS_SKIP_LOAD_BALANCER_IP
#RTCSTATS_JSON_CONSOLE_LOG

# rtcstats-server: amplitude
# RTCSTATS_AMPLITUDE_KEY=

# rtcstats-server: firehose
#RTCSTATS_FIREHOSE_AWS_REGION
#RTCSTATS_FIREHOSE_MEETING_STREAM
#RTCSTATS_FIREHOSE_PC_STREAM
#RTCSTATS_FIREHOSE_TRACKS_STREAM
#RTCSTATS_FIREHOSE_E2E_PING_STREAM
#RTCSTATS_FIREHOSE_FACE_LANDMARKS_STREAM
#RTCSTATS_FIREHOSE_MEETING_EVENT_STREAM

# rtcstats-server: s3
#RTCSTATS_S3_ACCESSKEYID
#RTCSTATS_S3_SECRETACCESSKEY
RTCSTATS_S3_AWS_REGION=us-east-1
RTCSTATS_S3_USEIAMAUTH=true
#RTCSTATS_S3_SIGNEDLINKEXPIRATIONSEC

# rtcstats-server: webhooks
#RTCSTATS_WEBHOOK_ENDPOINT
#RTCSTATS_JWT_AUDIENCE
#RTCSTATS_JWT_ISSUER

# rtcstats-server: secretmanager
#RTCSTATS_AWS_SECRET_REGION
#RTCSTATS_JWT_SECRET_ID

# rtc-visualizer
ENDPOINT=http://localhost.localstack.cloud:4566
RTCSTATS_JWT_PUBLIC_KEY=dummy
#RTCSTATS_FILES_ENDPOINT
RTCSTATS_JWT_EGHT_PUBLIC_KEY=dummy
USERS_FILE=.data/users.json
